html {
    font-family: 'Space Mono', monospace !important;
}

body {
    color: #c9cacc !important;
    background-color: #1d1f21 !important;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #A36441 !important;
    opacity: 1; /* Firefox */
    text-transform: uppercase;
    font-size: 0.875rem;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #A36441 !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #A36441 !important;
}

.gol-subnav a {
    color: #A36441 !important;
}

/* Hover + Focus */
.gol-subnav a:hover,
.gol-subnav a:focus {
    color: #997953 !important;
    text-decoration: underline;
    outline: none;
}

.gol-subnav > ::before {
    border-left: 2px solid #A36441 !important;
}

.uk-light {
    color: #c9cacc !important;
}

.uk-section-default {
    background-color: #1d1f21 !important;
}

.uk-card-default {
    background-color: #1d1f21 !important;
}

.uk-link-text {
    color: #A36441 !important;
}

.uk-link-text:hover,
.uk-link-text:focus {
    color: #997953 !important;
}

.uk-label {
    background-color: #997953 !important;
    font-size: x-small;
}

.uk-label a {
    color: #c9cacc !important;
}

.uk-label a:hover,
.uk-label a:focus {
    color: #c9cacc !important;
}

.gol-links a {
    color: #c9cacc !important;
    text-decoration: none;
    border-bottom: 2px solid #c9cacc !important;
}

.gol-links a:hover,
.gol-links a:focus {
    text-decoration: none;
    border-bottom: 3px solid #A36441 !important;
}

h2 {
    color: #997953 !important;
}

h1 {
    color: #997953 !important;
}

blockquote {
    color: gray !important;
}