html {
  font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif !important;
}

body {
    color: #c9cacc !important;
    background-color: #1d1f21 !important;
}

.gol-subnav a{
    color: #A36441 !important;
}

/* Hover + Focus */
.gol-subnav a:hover,
.gol-subnav a:focus {
  color: #997953 !important;;
  text-decoration: underline;
  outline: none;
}

.gol-subnav > ::before {
    border-left: 2px solid #A36441 !important;
}

.uk-light {
    color: #c9cacc !important;
}