
\.firebase/

public/

\.idea/

node_modules/

*.log

temp\.py
resources/

secrets\.ps1

\.vscode/

dist/
temp.py

themes/Spark/assets/css/

themes/Spark/assets/js/
!themes/Spark/assets/js/custom.js

themes/Spark/static/font/

.hugo_build.lock
/themes/Spark2/static/css/main.*
/themes/Spark2/static/css/style.*
/themes/Spark2/static/css/video*
themes/Spark2/static/js/video*
themes/Spark2/static/js/main*
themes/Spark2/static/js/vendors*
themes/Spark2/static/js/runtime*
