
\.firebase/

public/

\.idea/

node_modules/

*.log

temp\.py
resources/

secrets\.ps1

\.vscode/

dist/
temp.py

themes/Spark/assets/css/

themes/Spark/assets/js/
!themes/Spark/assets/js/custom.js

themes/Spark/static/font/
