<!doctype html>
<html lang="en">
<head>
    {{- partial "head.html" . -}}
</head>
<body class="font-sans text-white leading-normal tracking-wider shadow-xl">

<div id="profile">
    <div id="profile" class="max-w-4xl flex items-center h-auto lg:h-screen flex-wrap mx-auto my-32 lg:my-0">

        <!--Main Col-->
        <div class="sm:relative w-full rounded-lg shadow-2xl bg-gray-800 opacity-75 mx-6 ring-gray-800/5">


            <div class="p-4 md:p-12 text-center">
                <div class="block rounded-full shadow-xl mx-auto -mt-16 h-48 w-48 bg-cover bg-center">
                    <img src="{{.Site.Params.thumbnailUrl}}" class="rounded-full lg:block" alt="{{.Title}}">
                </div>

                <!-- Nav bar -->
                <div class="pt-12 pb-8">
                    <nav class="flex items-center justify-between flex-wrap bg-gray-600 rounded-lg p-4">

                        <div class="flex items-center flex-shrink text-white mr-6">
                            <img src="{{.Site.Params.namedLogo}}" class="sm:w-48 w-40" alt="{{.Title}}">
                        </div>

                        <div class="block lg:hidden">
                            <button @click="showMenuToggle()"
                                    class="flex items-center px-3 py-2 border rounded text-teal-200 border-teal-400 hover:text-white hover:border-white">
                                <svg class="fill-current h-3 w-3" viewBox="0 0 20 20"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <title>Menu</title>
                                    <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/>
                                </svg>
                            </button>
                        </div>

                        <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto"
                             v-bind:class="{hidden: showMenu}">
                            <div class="text-xl lg:flex-grow">
                                {{ range.Site.Menus.main }}
                                <a href="{{.URL}}"
                                   class="block mt-4 lg:inline-block lg:mt-0 hover:text-white mr-4">
                                    {{ .Name }}
                                </a>
                                {{ end }}
                            </div>
                        </div>

                    </nav>
                </div>

                <h1 class="hidden">{{ .Title }}</h1>


                <div class="py-4 text-lg">{{ .Content }}</div>

                <div class="mt-6 pb-16 lg:pb-0 w-4/6 mx-auto flex flex-wrap items-center justify-between">
                    <a class="link" href="#">
                        <i v-html="linkedin" class="hover:text-gray-300"></i>
                    </a>
                    <a class="link" href="#">
                        <i v-html="twitter" class="hover:text-gray-300"></i>
                    </a>
                    <a class="link" href="#">
                        <i v-html="github" class="hover:text-gray-300"></i>
                    </a>
                    <a class="link" href="#">
                        <i v-html="linkedin" class="hover:text-gray-300"></i>
                    </a>
                </div>

                <!-- Use https://simpleicons.org/ to find the svg for your preferred product -->

            </div>

            <!-- Pin to top right corner -->
            <div class="absolute top-0 right-0 h-12 w-18 p-4">
                <button class="focus:outline-none" @click="showSearchToggle()"><i v-html="search"
                                                                                  class="hover:text-gray-300"></i>
                </button>
            </div>

        </div>

    </div>

    <!-- search model -->
    <div class="fixed z-10 inset-0 overflow-auto backdrop-blur-lg bg-slate-800/80" @keyup.esc="showSearchToggle"
         v-bind:class="{hidden: showSearch}">
        <div class="relative max-w-4xl flex items-center h-auto flex-wrap mx-auto my-32">
            <div class="relative w-full rounded-lg shadow-2xl bg-gray-700 mx-6 ring-gray-800 p-4">
                <!-- close button -->
                <div class="absolute top-0 right-0 h-12 w-18 p-4">
                    <button class="focus:outline-none" @click="showSearchToggle()"><i v-html="times"
                                                                                      class="hover:text-gray-300"></i>
                    </button>
                </div>
                <div class="pt-3 md:pt-0 md:block w-full order-3">
                    <div class="relative max-w-3xl mx-auto px-6">
                        <div class="absolute h-10 mt-1 left-0 top-0 flex items-center pl-10">
                            <i v-html="search" class="text-gray-600"></i>
                        </div>
                        <input type="search" placeholder="Enter search term" v-model="searchText" @input="searchAlgolia"
                               class="block w-full bg-brand-white focus:outline-none focus:bg-white focus:shadow text-gray-700 font-bold rounded-lg pl-12 pr-4 py-3">
                    </div>
                </div>
                <div class="mx-auto lg:mx-0 pt-3 border-b-2 border-gray-500 opacity-25"></div>

                <div class="p-2 mx-auto">
                    <img src="/img/lazy-panda.svg" alt="Lazy panda" class="object-contain h-48 mx-auto"
                         v-if="numberOfHits === 0">
                    <div v-for="(contents, section) in hits">
                        <h2 class="text-xl font-bold pb-3 py-3 capitalize">{{"{{section}}"}}</h2>
                        <section v-for="content in contents"
                                 class="block w-full rounded-lg shadow-2xl bg-gray-600 hover:bg-gray-500 p-2 my-1">
                            <a :href="content.uri">{{"{{content.title}}"}}</a>
                        </section>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
{{ partial "scripts.html" . }}
</body>
</html>