<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "Article",
        "publisher": {
            "@type": "Organization",
            "name": "{{ .Site.Title }}",
            "logo": {
                "@type": "ImageObject",
                "url": "{{`img/favicon-72-precomposed.png` | absURL }}",
                "width": 60,
                "height": 60
            }
        },
        "author": {
            "@type": "Person",
            "name": "{{ .Params.author.firstName }} {{ .Params.author.lastName }}",
            "image": {
                "@type": "ImageObject",
                "url": "{{ .Site.Params.logoPhoto | absURL }}",
                "width": 481,
                "height": 533
            },
            "url": "{{ .Site.BaseURL }}",
            "sameAs": [
                "{{ .Site.Params.twitter }}",
                "{{ .Site.Params.github }}",
                "{{ .Site.Params.linkedin }}"
            ]
        },
        "headline": "{{ .Title }}",
        "url": "{{ .Permalink }}",
        "datePublished": "{{ .PublishDate.Format "2006-01-02T15:04:05-0700" | safeHTML}}",
        {{- if not .Lastmod.IsZero }}
        "dateModified": "{{ .Lastmod.Format "2006-01-02T15:04:05-0700" | safeHTML}}",
        {{ end -}}
        "image": {
            "@type": "ImageObject",
            {{- if (isset .Params "images") }}
            "url":"{{ (index .Params.images 0) | absURL }}",
            {{ else }}
            "url":"{{ .Site.Params.thumbnailUrl | absURL }}",
            {{ end -}}
            "width": 2600,
            "height": 1430
        },
        "keywords": "New",
        "description": "{{ .Description | safeHTML }}",
        "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": "{{ .Site.BaseURL }}"
        }
    }
</script>
