<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/6.0.4/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#config-web-app -->

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyDTD-XDezeWjpL5p_1eMS2dU8wpDleUcbE",
    authDomain: "gollahalli-website.firebaseapp.com",
    databaseURL: "https://gollahalli-website.firebaseio.com",
    projectId: "gollahalli-website",
    storageBucket: "gollahalli-website.appspot.com",
    messagingSenderId: "234501481239",
    appId: "1:234501481239:web:89c4e2bec657722d"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
</script>
