<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "WebSite",
        "publisher": {
            "@type": "Organization",
            "name": "{{ .Site.Title }}",
            "logo": {
                "@type": "ImageObject",
                "url": "{{ .Site.Params.logoPhoto | absURL }}",
                "width": 60,
                "height": 60
            }
        },
        "url": "{{ .Site.BaseURL }}",
        "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": "{{ .Site.BaseURL }}"
        },
        "description": "{{ .Description }}"
    }
</script>