<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "WebSite",
        "publisher": {
            "@type": "Organization",
            "name": "{{ .Site.Params. }}",
            "logo": {
                "@type": "ImageObject",
                "url": "https://blog.ghost.org/favicon.png",
                "width": 60,
                "height": 60
            }
        },
        "url": "https://blog.ghost.org/",
        "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": "https://blog.ghost.org/"
        },
        "description": "Product updates, highlights, and behind the scenes content from the Ghost team!"
    }
</script>