{{define "main"}}

<h1>{{.Title}}</h1>

<div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
    <div class="mb-10 border-t border-b divide-y">

        {{ range (.Paginate (.Pages.GroupByPublishDate "2006")).PageGroups }}
        {{ range $index, $element := .Pages }}
        <article class="grid py-8 sm:grid-cols-3">
            <div class="mb-4 sm:mb-0">
                <div class="space-y-1 text-xs font-semibold tracking-wide uppercase">
                    {{/*                    <a href="/"*/}}
                    {{/*                       class="transition-colors duration-200 text-deep-purple-accent-400 hover:text-deep-purple-800"*/}}
                    {{/*                       aria-label="Category">Books</a>*/}}
                    <p>
                        {{ range .Params.tags }}
                        <span class="text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded mr-2 bg-gray-700 text-gray-300 md:mt-1 sm:mt-1">
                            <i v-html="hashTag" class="mr-1"></i>
                          {{.}}
                        </span>
                        {{end}}
                    </p>
                    <p class="text-gray-400">
                        <time datetime="{{.PublishDate}}" itemprop="datePublished"
                              class="uk-text-left">{{.PublishDate.Format "02 Jan 2006"}}</time>
                    </p>
                </div>
            </div>
            <div class="sm:col-span-3 lg:col-span-2">
                <div class="mb-3">

                    <h2 class="!my-0 inline-block text-white transition-colors duration-200 hover:text-deep-purple-accent-700">
                        <a href="{{.Permalink}}" aria-label="Article"
                           class="text-3xl font-extrabold leading-none sm:text-4xl xl:text-4xl !no-underline"> {{.Title}}</a>
                    </h2>

                </div>
                <p class="text-gray-300">
                    {{.Description}}
                </p>
            </div>
        </article>
        {{end}}
        {{end}}


    </div>
</div>

{{ partial "pagination.html" . }}


        {{end}}